* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #001514;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.primary-color {
  color: #F02D3A;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1.2rem;
  border-radius: 10px;
}

/* Task */

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  border-bottom: 2px solid #013634a2;
  padding: 0.5rem;
  font-weight: bold;
}

.task-name {
  font-size: 1.2rem;
  color: rgb(230, 248, 178);
}

.task-checked {
  text-decoration: line-through;
  color: rgb(145, 151, 174);
}

button {
  margin: 0 0.2rem;
  padding: 5px 15px;
  background-color: rgb(230, 248, 178);
  border: none;
  font-weight: bolder;
  border-radius: 5px;
}

button:hover {
  color: white;
  background-color: #F02D3A;
}

input {
  color: #001514;
  background-color: rgb(230, 248, 178);
  width: 70%;
  font-size: 1.2rem;
}

.add-task-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.add-btn {
  font-weight: bold;
  border: none;
  padding: 0.6rem 1.2rem;
}

.add-btn:hover {
  background-color: rgb(87, 224, 178);
  /* color: white; */
}

#add-task-input {
  border-radius: 5px;
}

.green-text {
  color: rgb(87, 224, 178);
}